.vscode
build
rollup
src
tests
.editorconfig
.eslintignore
.eslintrc.yaml
.prettierignore
.prettierrc.yaml
.size-snapshot.json
jest.config.js
rollup.config.js
tsconfig.json
tsconfig.*.json
*.spec.ts
*.spec.d.ts
signaler-effectus-hero.png
docs/
scripts
rollup.config.*
jest.config.*
types
hero.gif
hero.png
hero.webp
hero-web.webp
GEMINI.md
foo.mjs
diamond-example.mjs
