.vscode
build
rollup
src
tests
.editorconfig
.eslintignore
.eslintrc.yaml
.prettierignore
.prettierrc.yaml
.size-snapshot.json
jest.config.js
rollup.config.js
tsconfig.json
tsconfig.*.json
*.spec.ts
*.spec.d.ts
signaler-effectus-hero.png
docs/gists
docs/images
scripts
rollup.config.*
jest.config.*
