.vscode
rollup
src
tests
.editorconfig
.eslintignore
.eslintrc.yaml
.prettierignore
.prettierrc.yaml
.size-snapshot.json
jest.config.ts
tsconfig.json
tsconfig.build.json
tsconfig.test.json
*.spec.ts
*.spec.d.ts
