name: Build and Deployment

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - uses: pnpm/action-setup@v4
        with:
          version: 10.6.5
          run_install: true

      - run: pnpm lint
        name: Run lintings

      - run: pnpm prettier:check
        name: Run prettier checks

      - run: pnpm test
        name: Run tests

  deploy:
    name: Deploy package
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          always-auth: true
          registry-url: https://registry.npmjs.org
          scope: '@spearwolf'

      - uses: pnpm/action-setup@v4
        with:
          version: 10.6.5
          run_install: true

      - run: pnpm dist
        name: Build package

      - run: pnpm publish:pkg
        name: Publish package
